body {
    background: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
  }


  .scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1);
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
}

.scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: rgb(255, 255, 255);
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#2b26ca),
									   to(#2b26ca),
									   color-stop(.6,#2b26ca))
}